{{ define "main" }}

{{ .Content }}

{{/* Intro summary section */}}

{{ if or .Site.Params.homeIntroTitle .Site.Params.homeIntroContent }}
<div class="intro">
    {{ with .Site.Params.homeIntroTitle }}
    <h1>{{ . }}</h1>
    {{ end }}

    {{ with .Site.Params.homeIntroContent }}
    <p>{{ . | markdownify }}</p>
    {{ end }}
</div>
{{ end }}

{{/* Social Icons */}}

<div class="list-container">
    {{ with .Site.Params.homeCollectionTitle}}
    <h1> {{ . }} </h1>
    {{ end }}

    {{ $pages := where site.RegularPages "Type" "post" }}
    {{ $pages = where $pages "Title" "!=" "" }}

    {{ $paginationSize := 1}}
    {{ if (gt .Site.Params.paginationSize 0) }}
    {{ $paginationSize = .Site.Params.paginationSize }}
    {{ end }}

    {{ $paginator := .Paginate $pages $paginationSize }}

    {{ range $index, $page := $paginator.Pages }}
        <div class="post-line">

            {{ $dateFormat := "2 Jan 2006"}}
            {{ with .Site.Params.listDateFormat }}
            {{ $dateFormat = .}}
            {{ end }}
        
            <p class="line-date"><a href="{{ .RelPermalink }}">{{ .Date | time.Format $dateFormat }}</a></p>
        
            <div>
                <p class="line-title">
                    {{ .Title }}
                </p>
            </div>
        </div>
    {{ end }}

    {{ partial "pagination-controls.html" $paginator}}

    {{ end }}
</div>