{{ define "main" }}

<div class="list-container">

    {{ partial "breadcrumbs.html" . }}

    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ $tagsPage := eq .Title "Tags"}}

    {{ $pages := where site.RegularPages "Type" "post" }}
    {{ $paginator := .Paginate $pages }}

    {{ range $index, $page := $paginator.Pages }}

    {{ if $tagsPage }}
    {{ partial "tag-entry.html" $page}}
    {{ else }}
    {{ partial "post-entry.html" $page}}
    {{ end }}

    {{ end }}

    {{ partial "pagination-controls.html" $paginator}}

</div>
{{ end }}
