{{ define "main" }}

{{/* Breadcrumbs */}}

{{ if not .IsHome }}
{{ partial "breadcrumbs.html" . }}
{{ end }}

<div {{ if .Param "autonumber" }} class="autonumber" {{ end }}>

  <div class="single-intro-container h-entry">

    {{/* Title and Summary */}}

    <h1 class="single-title p-name">{{ .Title }}</h1>
    {{ with .Param "summary" }}
    <p class="single-summary">{{ . | markdownify }}</p>
    {{ end }}

    {{ $permaLink := .Permalink }}
    {{/* Reading Time */}}

    <p class="single-readtime">
      {{ with .Date }}
      {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := . | time.Format (default ":date_long" $.Site.Params.singleDateFormat) }}
      <a class="u-url" href="{{ $permaLink }}"><time class="dt-published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></a>
      {{end}}

      {{ if .Param "readTime" }}
      &nbsp; · &nbsp;
      {{ .ReadingTime }} min read
      {{end }}
    </p>

  </div>

  {{/* Table of Content */}}

  {{ if .Param "toc" }}
  <aside class="toc">
    <p><strong>Table of contents</strong></p>
    {{ .TableOfContents }}
  </aside>
  {{ end }}

  {{/* Page content */}}

  <div class="single-content">
    <section class="e-content">{{ .Content }}</section>
    {{ if .Site.Params.giscus.enable }}
    {{ if not .Params.disableComment }}
    {{ partial "comments.html" . }}
    {{ end }}
    {{ end }}
  </div>

  {{ if .Params.categories }}

  <div class="single-tags">
    {{- range .Params.categories -}} {{- $href := print (absURL "categories/") (urlize .) -}}
    <span class="p-category">
      <a href="{{- $href -}}">#{{- . -}}</a>
    </span>
    {{- end -}}
  </div>

  {{ end }}

  <!-- Post Reply Plugins -->
  {{ if eq .Type "post"}}
    {{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") }}
    <footer class="post-tags post-reply">
      {{ if templates.Exists "partials/reply-by-email.html" }}
          {{ partial "reply-by-email.html" . }}
      {{ end }}

      {{ if templates.Exists "partials/conversation-link.html" }}
        {{ partial "conversation-link.html" . }}
      {{ end }}
    </footer>
    {{ end }}
  {{ end }}


  <!-- Replies via Webmentions -->
  {{ if .Site.Params.include_conversation }}
  <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}   

  {{/* Next prev controls */}}

  {{ if not (.Param "hidePagination") }}
  {{ partial "pagination-single.html" . }}
  {{ end }}

  {{/* Back to top */}}

  {{ if not (.Param "hideBackToTop") }}
  <div class="back-to-top">
    <a href="#top">
      back to top
    </a>
  </div>
  {{ end }}

</div>

{{ end }}
