{{/* Header */}}

<div class="header">

    {{ if or (not (site.Param "hideHeader")) .IsHome }}

    <h1 class="header-title">
        <a href="{{- `` | absURL -}}">{{ .Site.Title }}</a>
    </h1>

    <div class="flex">
        {{ $currentPage := . }}

        {{- $url := .RelPermalink -}}
        {{ with site.Menus.main }}
        {{ range . }}
      
        <p class="small {{ if eq .URL $url }} bold {{end}}">
            {{ if .Page.Params.redirect_url }}
                <a href="{{ .Page.Params.redirect_url }}">/{{ .Name }}</a>
            {{ else }}
                <a href="{{ .URL }}">/{{.Name }}</a>
            {{ end }}
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
